/* 
TOP SECTION CSS */
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Baloo Bhai 2", cursive;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(https://th.bing.com/th/id/R.a40dd057d95eded5a4c736fd82a962d2?rik=wNOQdKgNCAlz2g&pid=ImgRaw&r=0);
  background-position: center;
  background-size: cover;

  height: 100vh;
}

#HOME {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 290px;
  color: #fff;
}
.OVERLAY {
  background: rgb(0, 0, 0, -5);
  height: 100vh;
}



/* MIDDELE SECTION */
#MENU {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px 40px;
  background: rgb(245, 242, 242);
  min-height: 100vh;
  
}
.HEADING {
  background: rgb(245, 242, 242);
  color: #373333;
  margin-bottom: 30px;
  padding: 60px 0 30px 0;
  grid-column: 1/-1;
  text-align: center;
}
.HEADING > h3 {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
}
.CARD{
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 10px 20px;
}

.CARD img {
  position: relative;
  width: 100%;
  height: 50vh;
  border-radius: 15px 15px 0 0;
}

.Details {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: 15px;
}
.details-sub {
  display: grid;
  grid-template-columns: auto auto;
}
.details-sub h5 {
  font-weight: 600;
  font-size: 18px;
}
.price {
  text-align: right;
}
.details p {
  color: #6f6f6f;
  font-size: 15px;
  line-height: 25px;
  align-self: stretch;
}
.details button {
  
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  width: 180px;
}

/* ABOUT US SECTION  */
#About {
  padding: 25px 0;
}
.about_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 100px;
}
.about_column {
  flex: 1;
 
}
#btn1 {
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 15px;
}
.about_column img {
  width: 400px;
  height: 500px;
  margin-left: 100px;
  border-radius: 30%;
  object-fit: fill;
  margin: auto;
}
.title {
  color: #373333;
  margin-bottom: 30px;
  padding: 50px 0 30px 0;
  text-align: center;
}

#Order {
  background: rgb(245, 242, 242);
  color: white;
  min-height: 100vh;
}
.Title1 {
  color: #373333;
  margin-bottom: 30px;
  padding: 50px 0 30px 0;
  text-align: center;
}

form {
  width: 450px;
  background-color: white;

  box-shadow: 0 0 20px 0 rgb(213, 212, 210);
  margin: auto;
  margin-top: -20px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.inp_box {
  width: 350px;
  height: 37px;
  
  margin: 25px 45px 0 45px;

  padding: 0 10px;
  border-radius: 14px;
  border: 1px solid #777;
  outline: none;
}
.text_area {
  height: 160px;
  padding-top: 10px;
}
.btn2 {
  border-radius: 20px;
  margin: 20px 45px;
  padding: 0 10px;
  width: 30%;
}

textarea {
  height: 150px;
  padding-top: 10px;
}
.btn2 {
  border-radius: 15px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
}
button {
  background-color: rgb(22, 22, 94);
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: rgb(94, 158, 61);
}

/* Footer section */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  background-color: #262626;
  color: white;
}